In [12]:
import pandas as pd
import numpy as np

In [13]:
#Scraping Conference and Division information of NFL teams
all_tables = pd.read_html('https://en.wikipedia.org/wiki/National_Football_League')

conf = all_tables[3]
conf = conf[['Division[66]', 'Club[66]']]
afc = conf.iloc[0:16].copy()
nfc = conf.iloc[17:33].copy()

nfc.columns = nfc.columns.droplevel()
afc.columns = afc.columns.droplevel()

afc.columns.values[1] = 'Team'
afc.columns.values[0] = 'Division'
afc['Conference'] = 'AFC'

nfc.columns.values[1] = 'Team'
nfc.columns.values[0] = 'Division'
nfc['Conference'] = 'NFC'

nfl = pd.concat([afc, nfc], axis=0)
nfl['Team'] = nfl['Team'].str.replace('*','')
nfl['Team'] = nfl['Team'].str.replace('â€ ','')
nfl.head(5)

C:\Users\chase\AppData\Local\Temp\ipykernel_960\3174728788.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  nfl['Team'] = nfl['Team'].str.replace('*','')

  Division                  Team Conference
0     East         Buffalo Bills        AFC
1     East        Miami Dolphins        AFC
2     East  New England Patriots        AFC
3     East         New York Jets        AFC
4    North      Baltimore Ravens        AFC

In [15]:
#Scraping Playoff Years of Individual NFL Teams
playoffs = pd.read_html('https://en.wikipedia.org/wiki/List_of_NFL_playoff_games')
AZ = playoffs[0]
AZyears = np.array(AZ['Occurrences'])
AZyears = ','.join(str(x) for x in AZyears)
AZyears

'1947, 1948, 2008,1982, 2009, 2015,2008, 2014, 2015,1974, 1998,1975, 2021,1998,2008,2008,2009,nan'

In [16]:
#Merging Playoff years with previous dataframe
nfl['Playoff_Years'] = ''
nfl['Playoff_Years'] = np.where(nfl['Team'] == 'Arizona Cardinals', AZyears, nfl['Playoff_Years'])
nfl

,Division,Team,Conference,Playoff_Years
0,East,Buffalo Bills,AFC,
1,East,Miami Dolphins,AFC,
2,East,New England Patriots,AFC,
3,East,New York Jets,AFC,
4,North,Baltimore Ravens,AFC,
5,North,Cincinnati Bengals,AFC,
6,North,Cleveland Browns,AFC,
7,North,Pittsburgh Steelers,AFC,
8,South,Houston Texans,AFC,
9,South,Indianapolis Colts,AFC,
10,South,Jacksonville Jaguars,AFC,
11,South,Tennessee Titans,AFC,
12,West,Denver Broncos,AFC,
13,West,Kansas City Chiefs,AFC,
14,West,Las Vegas Raiders,AFC,
15,West,Los Angeles Chargers,AFC,
17,East,Dallas Cowboys,NFC,
18,East,New York Giants,NFC,
19,East,Philadelphia Eagles,NFC,
20,East,Washington Commanders,NFC,
21,North,Chicago Bears,NFC,
22,North,Detroit Lions,NFC,
23,North,Green Bay Packers,NFC,
24,North,Minnesota Vikings,NFC,
25,South,Atlanta Falcons,NFC,
26,South,Carolina Panthers,NFC,
27,South,New Orleans Saints,NFC,
28,South,Tampa Bay Buccaneers,NFC,
29,West,Arizona Cardinals,NFC,"1947, 1948, 2008,1982, 2009, 2015,2008, 2014, ..."
30,West,Los Angeles Rams,NFC,
31,West,San Francisco 49ers,NFC,
32,West,Seattle Seahawks,NFC,

In [18]:
#Scraping interest rayes of Stafford Loans
interest = pd.read_html('https://www.savingforcollege.com/article/historical-federal-student-interest-rates-and-fees')
fedstaffloans = interest[0]
fedstaffloans.head(5)

               0                   1           2             3
0  Academic Year  Fixed vs. Variable  Subsidized  Unsubsidized
1      2020-2021               Fixed      2.750%        2.750%
2      2019-2020               Fixed      4.529%        4.529%
3      2018-2019               Fixed      5.045%        5.045%
4      2017-2018               Fixed       4.45%         4.45%

In [19]:
tuition = pd.read_html('https://educationdata.org/average-cost-of-college-by-year#:~:text=The%20average%20cost%20of%20tuition,130%25%20after%20adjusting%20for%20inflation.')
tui = tuition[0]
tui = tui.sort_values(by='Year', ascending=True).reset_index(drop=True)
tui = tui[5:].copy().reset_index(drop=True)
tui

         Year Public 4-Year Private 4-Year
0     1968-69          $321         $1,417
1     1969-70          $358         $1,562
2     1970-71          $394         $1,706
3     1971-72          $428         $1,832
4     1972-73          $503         $1,948
5     1973-74          $514         $2,045
6     1974-75          $512         $2,130
7     1975-76          $542         $2,291
8     1976-77          $617         $2,534
9     1977-78          $655         $2,700
10    1978-79          $688         $2,958
11    1979-80          $738         $3,225
12    1980-81          $804         $3,617
13    1981-82          $909         $4,113
14    1982-83        $1,031         $4,639
15    1983-84        $1,148         $5,093
16    1984-85        $1,228         $5,556
17    1985-86        $1,318         $6,121
18    1986-87        $1,414         $6,658
19    1987-88        $1,537         $7,116
20    1988-89        $1,646         $7,722
21    1989-90        $1,780         $8,396
22    1990-91        $1,888         $9,083
23    1991-92        $2,117         $9,759
24    1992-93        $2,349        $10,294
25    1993-94        $2,537        $10,952
26    1994-95        $2,681        $11,481
27    1995-96        $2,848        $12,243
28    1996-97        $2,987        $12,881
29    1997-98        $3,110        $13,344
30    1998-99        $3,229        $13,973
31  1999-2000        $3,349        $14,616
32    2000-01        $3,501        $15,470
33    2001-02        $3,735        $16,211
34    2002-03        $4,046        $16,826
35    2003-04        $4,587        $17,763
36    2004-05        $5,027        $18,604
37    2005-06        $5,351        $19,292
38    2006-07        $5,666        $20,517
39    2007-08        $5,943        $21,427
40    2008-09        $6,312        $22,040
41    2009-10        $6,717        $22,269
42    2010-11        $7,132        $22,677
43    2011-12        $7,713        $23,464
44    2012-13        $8,070        $24,523
45    2013-14        $8,312        $25,707
46    2014-15        $8,543        $26,739
47    2015-16        $8,778        $27,942
48    2016-17        $8,804        $29,476
49    2017-18        $9,036        $30,723
50    2018-19        $9,212        $31,883
51    2019-20        $9,349        $32,769